.button {
  font-size: 16px;
  color: #fff;
  padding: 8px 24px;
  background-color: var(--primary-button-background);
  border: 2px solid var(--outline-button-color);
}

.button.large {
  padding: 14px 40px;
}

.button:active {
  opacity: 0.8;
}

.button.outline {
  background-color: none;
  color: var(--primary-text-color);
}

.button.basic {
  background-color: none;
  border: none;
  padding: 0;
}
