.app-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.app-sidebar-item {
  margin-top: 32px;
  order: 10;
}

.app-sidebar-item.brand {
  order: 1;
}

.app-sidebar-item > .link {
  text-decoration: none;
  display: inline-block;
}

.app-sidebar-item.bottom {
  order: 9999;
}
