.app-notification {
  position: fixed;
  bottom: 64px;
  right: 64px;
  /* padding: 10px 20px 15px;
  border: 1px solid var(--highlight-background);
  border-radius: 5px; */
}

.app-notification-message-enter-active {
  transform: translateX(-300px);
  transition: all 0.3s;
}

.app-notification-message-enter-to {
  transform: translateX(0px);
}

.app-notification-message-leave-active {
  transform: translateX(0px);
  transition: all 0.3s;
}

.app-notification-message-leave-to {
  transform: translateX(300px);
}
