.user-set-password {
  display: flex;
  flex-direction: row;
}

.user-set-password > .item {
  margin-right: 50px;
  flex-grow: 1;
}

.user-set-password > .validate-password,
.user-set-password > .new-user-password {
  flex-basis: 200%;
  flex-grow: 2;
}
