.user-show {
  display: flex;
  flex-direction: column;
}

.user-show > .header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.user-show > .header .item {
  margin-top: 15px;
}

.user-show > .content {
}

.light .content-tab {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.dark .content-tab {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
